.grid-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  .grid-row {
    display: flex;
    flex-direction: row;
  }
}

.window-container {
  position: relative;
  overflow: hidden;
}

.unattached-container {
  position: absolute;
}

.main-player-container {
  position: absolute;
}

.object {
  position: relative;
}
