.grid-container {
  display: flex;
  flex-direction: column;
  .grid-row {
    display: flex;
    flex-direction: row;
  }
}

.tile {
  background: no-repeat center/100% url("/assets/textures/tile/grass.jpg");
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px black solid;
  margin: 0;
}
